h1{
    font-size: 36px;
}

span{
    font-size: 20px;
}

button{
    margin-bottom: 0;
}

.return-button{
    margin: 1.3rem;
    padding: 1rem;
    width: 200px;
}

.turnos-section{
    width: 100%;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
}

.title{
    width: 100%;
    margin: 2rem 0;
    padding: 0 1rem;
    gap: 1rem;
}

.title *{
    text-align: center;
}

.turno-card {
    display: flex;
    flex-direction: column;

    padding: 20px;
    margin: 0 0 2rem;
    max-height: 100%;

    border: solid 1px var(--gris);
    border-radius: 10px;
    white-space: pre-wrap;    /* respeta saltos de línea */
    word-wrap: break-word;    /* fuerza corte de palabra si es muy larga */
    overflow-wrap: break-word; /* estándar moderno */
    max-width: 100%;          /* que no se pase del ancho del contenedor */
    justify-content: space-between;
}

.turno-card:hover{
    box-shadow: 10px 10px 0 0 var(--gris);
}

.turno-titulo-text {
    font-size: 20px;
    font-weight: 800;
}

.turno-text {
    padding: 10px 0 0;

    font-size: 16px;
    font-weight: 400;
}

.turno-info{    
    margin: 0 0 2rem;
}

.cancel-turno{
    font-size: 16px;
}

.cancel-turno:hover{
    outline-width: 3px;
    outline-offset: 3px;
}

@media(min-width:768px){
    .turno-card{
        width: 70%;
        margin: 0 auto 2rem;
    }
}

@media(min-width:1280px){
    .turnos-section{
        padding: 0 5rem;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .turno-card{
        max-width: 400px;
        margin: 0 auto 2rem;
    }
}