<app-nav />
<button routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"
    class="option-pill-access blue-button-access return-button">
    < Volver</button>
        <div *ngIf="!vacio">
            <div class="title flex-column">
                <h1>Turnos Pendientes</h1>
                <span>Estos son los turnos que tiene usted pendiente. Puede <b>cancelarlos con 6 Horas de minima de anticipacion</b> si desea.</span>
            </div>

            <div class="turnos-section">
                <div class="turno-card" *ngFor="let turno of _pacienteService.turnos">
                    <ul class="turno-info">
                        <li class="turno-titulo-text"> {{turno.fecha | date:"EEEE, dd/MM/yy HH:mm"}} </li>
                        <li class="turno-text"> Duración: {{turno.duracion}} min </li>
                        <li class="turno-text"> Medico: {{turno.medico_id.apellido}} {{turno.medico_id.nombre}} </li>
                        <li class="turno-text"> <b>Lugar: {{turno.consultorio}} </b></li>
                    </ul>
                    <div class="flex-row">
                        <button *ngIf="canCancelTurno(turno.fecha)" class="option-pill-access red-button-access cancel-turno"
                        [disabled]="!canCancelTurno(turno.fecha)" (click)="confirmarCancelarTurno(turno._id); cargarInfo(turno)">Cancelar Turno</button>
                    </div>

                    <!--  <div [ngClass]="{'hidden': isMenuHidden}">
            <p>¿Desea cancelar el turno?</p>
            <div class="flex-row">
                <button class="option-pill-access green-button-access">Sí</button>
                <button class="option-pill-access red-button-access" (click)="toggleMenu()">No</button>
            </div>
        </div> -->

                </div>
            </div>
        </div>
        <div *ngIf="vacio" class="title flex-column" style="margin-bottom: 10%;">
            <span class="material-symbols-rounded" style="color: var(--celeste); font-size: 120px; margin-bottom: 1rem;">
                verified
            </span>
            <h1>Usted está libre de turnos pendientes.</h1>
            <h2 style="font-weight: 400;">Puede volver a autogestión si quiere.</h2>
            
        </div>