<app-admin-nav />
<div class="admin-page">

	<div class="flex-row turnos-page">
		<!--Zona de acciones-->
		<div class="flex-column date-actions">
			<div class="section flex-column">
				<span class="section-title">Acciones</span>
			</div>
			<form class="flex-column section" [formGroup]='busquedaForm' (ngSubmit)="busqueda()" action="#"
				method="get">
				<span class="section-title">Búsqueda</span>
				<input formControlName="busqueda" type="text" name="medico-query" id="medico-query"
					placeholder="Buscar...">
				<button class="option-pill action-element" type="submit">Buscar</button>
			</form>
		</div>

		<div class="flex-column turnos">
			<!--Título-->
			<div class="flex-row">
				<h1>Lista de Médicos</h1>
				<button class="option-pill small-button" routerLink="/admin">Volver al Inicio</button>
			</div>
			<div class="element-list">
				<div class="scroll-table">
					<table>
						<tr>
							<th>Matricula</th>
							<th>Apellido</th>
							<th>Nombres</th>
							<th>Especialidad</th>
							<th>Acciones</th>
						</tr>
						<tr *ngFor="let medico of _medicoService.medicos">
							<td>{{ medico.legajo }}</td>
							<td>{{ medico.apellido }}</td>
							<td>{{ medico.nombre }}</td>
							<td>{{medico?.especialidades[0]?.nombreEsp}}</td>
							<td class="actions-cell">
								<div class="flex-column buttons-container">
									<button class="option-pill blue-button action-element" type="button"
										(click)="actualizarMedico(medico._id)">
										<span class="material-symbols-rounded">stylus</span>
									</button>
									<button class="option-pill red-button action-element" type="button"
										(click)="confirmarEliminarMedico(medico._id)">
										<span class="material-symbols-rounded">delete_forever</span>
									</button>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>