<app-nav></app-nav>
<div class="autogestion">
       
    <h1 *ngIf="_loginService.userLoggedIn()">Bienvenido, {{_loginService.userLogged()}}</h1>
    
    <div class="autogestion-options">
       
        <div class="title flex-column">
            <h2>AUTOGESTIÓN</h2>
            <span *ngIf="_loginService.userLoggedIn()">Aquí puede organizar sus turnos y cambiar su contraseña.</span>
            <span style="color:var(--rojo)" *ngIf="!_loginService.userLoggedIn()">Primero debe iniciar sesión antes de usar alguna opción.</span>
        </div>
        
        <div class="options">
            <app-option-card
                icono="overview"
                [accion]="'/especialidades'"
                titulo="Sacar Turno"
                descripcion="Haga clic aquí para solicitar un nuevo turno con el médico que necesite."
                color="var(--verde)"
            ></app-option-card>
            <app-option-card
                icono="clinical_notes"
                [accion]="'/mis-turnos'"
                titulo="Mis Turnos Pendientes"
                descripcion="Haga clic aquí para gestionar los turnos que tiene pendiente con sus médicos."
                color="var(--celeste)"
            ></app-option-card>
            <app-option-card
                icono="password_2"
                [accion]="'/cambiar-password'"
                titulo="Cambiar Contraseña"
                descripcion="Haga clic aquí para actualizar su contraseña actual."
                color="var(--rojo)"
            ></app-option-card>
        </div>
    </div>
    
</div>
