<nav>
    <div class="mobile-nav flex-column">
        <div class="flex-row nav-header">
            <div class="logo" routerLink="/">
                <img src="logos/logo-transp.png" alt="Logo del Hospital Distrital Las Heras" class="logo">
            </div>
            <button class="menu-button" (click)="toggleMenu()">MENÚ</button>
        </div>
        <div class="mobile-menu" [ngClass]="{'hidden': isNavMenuHidden}">
            <div class="nav-items-list flex-column">
                <button *ngIf="!_loginService.userLoggedIn()" class="nav-item login-button" routerLink="/login">Iniciar Sesión</button>
                <button *ngIf="_loginService.userLoggedIn()" class="nav-item turno-button" routerLink="/especialidades">SACAR TURNO</button>
                <button *ngIf="_loginService.userLoggedIn()" class="nav-item logout-button" routerLink="/login" (click)="logout()">Cerrar Sesión</button>
                
                
            </div>
        </div>
    </div>

    <div class="widescreen-nav flex-row">
        <div class="logo" routerLink="/" style="cursor:pointer">
            <img src="logos/logo-lg-transp.png" alt="Logo del Hospital Distrital Las Heras" class="logo">
        </div>
        <div class="nav-items-list flex-row">
            <button *ngIf="!_loginService.userLoggedIn()" class="nav-item login-button" routerLink="/login">Iniciar Sesión</button>
            <button *ngIf="_loginService.userLoggedIn()" class="nav-item turno-button" routerLink="/especialidades">SACAR TURNO</button>
            <button *ngIf="_loginService.userLoggedIn()" class="nav-item logout-button" routerLink="/login" (click)="logout()">Cerrar Sesión</button>
                
        </div>
    </div>
</nav>