<app-admin-nav />

<div class="admin-page">

	<div class="flex-row turnos-page">

		<!--Zona de acciones-->
		<div class="flex-column date-actions">
			 <form action="#" [formGroup]="turnoForm" class="flex-column date-form section" style="align-self: center;">
				  <label for="turnos-datepicker" style="margin-bottom: 5px;" class="section-title">Cambiar de Fecha</label>
				  <input formControlName="fecha" type="date" name="turnos-datepicker" id="turnos-datepicker"
						class="top-element">
				  <button (click)="buscarFecha()" type="submit" class="option-pill goto-fecha-button action-element">Ir a
						fecha</button>
			 </form>
			 <form action="#" [formGroup]="turnoForm" class="flex-column date-form section">
				  <label for="turnos-filtro" class="section-title">Filtrar por</label>
				  <select formControlName="tipo" name="turnos-filtro" id="turnos-filtro">
						<option value="medico">Médico</option>
						<option value="paciente">Paciente</option>
						<option value="obra">Obra Social</option>
						<option value="especialidad">Especialidad</option>
						<option value="consultorio">Consultorio</option>
				  </select>
				  <input formControlName="busqueda" type="text" name="usuario-query" id="usuario-query"
						placeholder="Buscar...">
				  	<button (click)="busqueda()" type="submit"class="option-pill goto-fecha-button action-element">Buscar</button>
					<button (click)="reiniciarFiltros()" type="submit" class="option-pill goto-fecha-button action-element">Reiniciar Filtro</button>
			 </form>
			 <div class="flex-column section">
				  <span class="section-title">Otras Acciones</span>
				  <button (click)="getTurnos()" class="option-pill blue-button action-element">Ver turnos de Hoy</button>
				  <button class="option-pill green-button action-element" routerLink="/secretaria/nuevo-turno">+ Crear nuevo
						turno</button>
				  <button routerLink="/usuario-list" class="option-pill yellow-button action-element">Gestionar
						pacientes</button>
			 </div>
		</div>

		<div class="flex-column turnos">
			<!--Botones de cambio de fecha e indicador de fecha (Título)-->
			<div class="flex-row">
				<button *ngIf="!mostrandoFecha"  class="option-pill small-button" (click)="diaAnterior()">&#x25C0;</button>
				<h1 *ngIf="!mostrandoFecha" style="text-align: center;">Turnos del {{fecha|date:"dd"}} de {{fecha|date:"MMMM"}} </h1>
				<h1 *ngIf="mostrandoFecha" style="text-align: center;">Resultados de la Búsqueda </h1>
				<button *ngIf="!mostrandoFecha"  class="option-pill small-button" (click)="diaSiguiente()">&#x25B6;</button>
			</div>

			<!--Listado con los turnos-->
			<div class="element-list">
				<div class="scroll-table">

					<div *ngIf="_turnoService.turnos.length === 0" class="onCenter">
						No hay turnos para esta fecha.
					</div>
					
					<table *ngIf="_turnoService.turnos.length !== 0">
						<tr>
							<th *ngIf="!mostrandoFecha">Hora</th>
							<th *ngIf="mostrandoFecha">Fecha</th>
							<th>Paciente</th>
							<th>Motivo</th>
							<th>Doctor</th>
							<th>Consul.</th>
							<th>Estado</th>
							<th>Obras</th>
							<th>Acciones</th>
						</tr>
						<tr *ngFor="let turno of _turnoService.turnos">
							<td *ngIf="!mostrandoFecha">{{turno.fecha | date: 'shortTime'}}</td>
							<td *ngIf="mostrandoFecha">{{turno.fecha | date: 'shortDate'}} <br> {{turno.fecha | date: 'shortTime'}} </td>
							<td *ngIf="turno.paciente_id?.rol!='terminal' " style="max-width: 100px; padding: 5px; word-break: normal;"> {{turno.paciente_id?.nombre}}</td>
							<td *ngIf="turno.paciente_id?.rol=='terminal' " style="max-width: 100px; padding: 5px; word-break: normal;">{{turno.nombreTerminal}}</td>
							<td>{{turno.especialidad_id.nombreEsp}}{{turno.especialidad?.nombreEsp}}</td>
							<td style="max-width: 100px; padding: 5px; word-break: normal;">{{turno.medico_id.nombre}}{{turno.medico?.nombre}}</td>
							<td>{{turno.consultorio}}</td>
							<td>{{turno.estado}}</td>
							<td>
								{{turno.obras_sociales[0]?.nombreOS}}
								<span *ngIf="turno.obras_sociales[1]"><br>{{turno.obras_sociales[1]?.nombreOS}}</span>
								<span *ngIf="turno.obras_sociales[2]"><br>{{turno.obras_sociales[2]?.nombreOS}}</span>
							</td>
							<td >
								<button (click)="showMenuTurno(turno)" class="option-pill blue-button action-element" style="max-width: 50px;">
									<span class="material-symbols-rounded">menu</span>
								</button>
							</td>
							
							<!-- Modal -->
							<div *ngIf="menuTurnoAbierto">
								<div class="modal">
									<button (click)="hideMenuTurno()" class="option-pill red-button action-element" style="max-width: 45px; font-size: 8px;">
										<span class="material-symbols-rounded">close</span>
									</button>

									<div  style="margin-top: 1rem;">
										<h2>Turno de {{selectedTurno.especialidad_id.nombreEsp}}{{selectedTurno.especialidad?.nombreEsp}}</h2>
										<ul>
											<li> <b>Fecha:</b> {{selectedTurno.fecha | date:"EEEE, dd/MM/yy"}} a las {{selectedTurno.fecha | date:"shortTime"}} </li>
											<li *ngIf="selectedTurno.paciente_id?.rol=='paciente' "> <b>Paciente:</b> {{selectedTurno.paciente_id?.nombre}}</li>
											<li *ngIf="selectedTurno.paciente_id?.rol=='terminal' "> <b>Paciente:</b> {{selectedTurno.nombreTerminal}} </li>
											
											<li *ngIf="selectedTurno.paciente_id?.rol=='paciente'"> <b>DNI:</b> {{selectedTurno.paciente_id?.dni}} </li>
											<li *ngIf="selectedTurno.paciente_id?.rol=='terminal'"> <b>DNI:</b> {{selectedTurno.dniTerminal}} </li>
											
											<li> <b>Doctor:</b> {{selectedTurno.medico_id.nombre}} {{selectedTurno.medico_id.apellido}}{{selectedTurno.medico?.nombre}} {{selectedTurno.medico?.apellido}} </li>
											<li> <b>Consultorio:</b> {{selectedTurno.consultorio}} </li>
											<li> <b>Estado:</b> {{selectedTurno.estado}} </li>
											<li *ngIf="selectedTurno.paciente_id?.rol=='terminal'"> <b>TURNO SACADO EN TERMINAL</b> </li>
											
										</ul>
									</div>

									<div *ngIf="selectedTurno.estado!='Finalizado' " class="flex-column section" style="margin-top: 2rem;">
										<div *ngIf="selectedTurno.paciente_id?.rol=='paciente'">
										<h3 style="text-align: center;">Marcar Asistencia</h3>
										<div  class="flex-row buttons-container">
											<button (click)="confirmarAsistio(selectedTurno)" class="option-pill green-button action-element">										
												<span class="material-symbols-rounded">check</span>
											</button>
											<button (click)="confirmarDarStrike(selectedTurno,selectedTurno.paciente_id._id)" class="option-pill red-button action-element">									
												<span class="material-symbols-rounded">close</span>
											</button>
										</div>
									</div>
									<div >
										<h3 style="text-align: center; margin-top: 1rem;">Modificar Turno</h3>
										
										<div  class="flex-row buttons-container">
											
											<button (click)="reprogramarTurno(selectedTurno._id)" class="option-pill blue-button action-element">																			
												Reprogramar
											</button>
											<button (click)="confirmarCancelarTurno(selectedTurno)" class="option-pill red-button action-element">
												Cancelar Turno									
											</button>
										</div>
									</div>
									</div>

								</div>
							</div>
							<!--
							<td>
								<div *ngIf="turno.paciente_id" class="flex-column buttons-container">
									<button class="option-pill green-button action-element">										
										<span class="material-symbols-rounded">check</span>
									</button>
									<button (click)="darStrike(turno.paciente_id._id)" class="option-pill red-button action-element">									
										<span class="material-symbols-rounded">close</span>
									</button>
								</div>
							</td>
							<td>
								<div class="flex-column buttons-container">
									<button class="option-pill blue-button action-element">																			
										<span class="material-symbols-rounded">history</span>
									</button>
									<button class="option-pill red-button action-element">
										<span class="material-symbols-rounded">block</span>										
									</button>
								</div>
							</td>
							-->
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>


</div>