h1{
    font-size: 36px;
    margin-top: 1rem;
    padding: 1rem;
    font-weight: 800;
}

th{
    font-weight: 800;
    font-size: 20px;
}

th, td{
    padding: 10px 5px;
    width: auto;

    text-align: center;
}

td{
    border-radius: 10px;

    background-color: #f9f9f9;
    outline: solid 5px #fff;
    outline-offset: -5px;

    line-height: 1.4rem;
}

tr:hover td{
    background-color: #efeff3;
}

h2, li{
    line-height: 1.2rem;
}

.small-button{
    margin:1rem 1rem 1rem;
    margin-left: auto;
    width: 200px;
}

.turnos-page{
    gap: 0.8rem;
}

.buttons-container{
    padding: 1rem;
    margin: auto 0;

    justify-content: space-around;
    gap: 1rem;
}

.date-actions{
    padding: 1rem 0;
    max-width: 250px;
    min-width: 250px;

    align-items: flex-start;
    gap: 1rem;
    flex-basis: 1/4;

    *{
        width: 100%;
        margin-bottom: 0;
    }
}

.admin-page{    
    width: 80%;
}

.date-form{
    gap:2px;
}

.action-element{
    padding: 9px;
    margin: 5px 0 0;

    *{
        font-size: 20px;
        font-weight: 800;
    }
}

.section{
    padding: 1rem;

    background-color: #fafafa;
    border-radius: 10px;
    border: solid 1px var(--gris);
}

.section-title{
    color: var(--grisO);
    font-weight: 600;
    text-align: center;
}

.modal{
    padding: 2rem;
    margin: auto;
    max-width: 400px;

    

    max-height: 70vh;      /* altura máxima relativa a la ventana */
    
    position: fixed;
    top: 20%;
    left: 40%;
    
    background-color: #fff;
    border: solid 2px var(--gris);
    border-radius: 10px;
    
    z-index: 999;
    white-space: pre-wrap;    /* respeta saltos de línea */
    word-wrap: break-word;    /* fuerza corte de palabra si es muy larga */
    overflow-wrap: break-word; /* estándar moderno */
    overflow-y: auto;
}

/* Clases para listas de elementos de usuarios no pacientes */

.scroll-table{
    height: 500px;
    overflow-y: scroll;
}

.element-list{
    padding: 10px;
    margin-bottom: 1rem;
    border: solid 1px var(--gris);
    border-radius: 10px;
    box-shadow: 0 0 10px 10px #fafafa;
}

input[type="date"], input[type="select"] {
    width: 100%;
    padding: 5px;
    border:solid 1px var(--gris);
    
    font-size: 16px;
    cursor: pointer;
  }
  
  input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
  }

@media (max-width:1360px){
    .admin-page{
        width: 100%;
        padding: 0 1rem;
    }
}

@media (min-height: 900px){
    .scroll-table{
        height: 650px;
    }
}

@media (min-height: 1080px){
    .scroll-table{
        height: 900px;
    }
}