@import "../form-turno/form-turno.component.css";

h1 {
  font-size: 54px;
  color: var(--azul);
}
h2 {
  font-size: 32px;
}

li{
  font-size: 32px;
}
h3 {
  text-align: center;
}

button {
  padding: 2rem;
  font-size: 28px;
}

input,
select {
  max-width: 800px;
  padding: 1rem;

  border: solid 3px var(--gris);
  border-radius: 20px;

  text-align: center;
  font-size: 36px;
}
select {
  width: 100%; /* Ajusta el ancho según sea necesario */
  max-height: 200px; /* Altura máxima para que se muestre el scroll */
  overflow-y: auto; /* Forzar el scroll vertical si el contenido excede */
}

/* Personalización de la barra de desplazamiento en navegadores basados en WebKit */
select::-webkit-scrollbar {
  width: 50px; /* Ancho de la barra */
}

select::-webkit-scrollbar-thumb {
  background-color: #007bff; /* Color de la barra de desplazamiento */
  border-radius: 10px; /* Bordes redondeados */
}

select::-webkit-scrollbar-thumb:hover {
  background-color: #0056b3; /* Color de la barra al pasar el mouse */
}

select::-webkit-scrollbar-track {
  background: #fff; /* Fondo de la barra de desplazamiento */
  border-radius: 10px;
}
.terminal {
  background: linear-gradient(180deg, #ffffff, #ecf5ff);
  height: 768px;
}

.logo {
  background: var(--celeste);

  padding: 0.5rem;
  max-width: 200px;

  border: solid 4px #fff;
  border-radius: 100%;
}

.small-select {
  float: right;

  max-width: 400px;
  padding: 0.5rem;

  font-size: 28px;
}

.buttons {
  max-width: 500px;
  padding: 1rem;
  margin: auto;
}

option {
  padding: 1rem;

  text-align: center;
  margin: auto;
  font-size: 28px;
  font-weight: 600;
}

.paso {
  padding: 1.5rem 1rem;
}

.dni-input {
  max-width: 400px;
  margin: 0;
}

.section {
  padding: 1rem;
}

.card-container {
  background-color: #fff;
  max-height: 250px !important;
}
.card-input-element {
  display: none;
}

.card-input {
  padding: 20px;
  border-radius: 10px;
}

.card-input:hover {
  cursor: pointer;
}

.card-input-element:checked+.card-input {
  outline: solid 4px var(--verde);
  background-color: var(--verdeC);

  .turno-titulo-text,
  .turno-text {
      color: #058824;
  }
}


.small-button {
  padding: 20px;
  font-size: 20px;
}

.botonera {
  position: fixed;
  bottom: 2rem;
}

.option-pill-access {
  background: linear-gradient(180deg, #dbe2e9, var(--gris));
}

.option-pill-access:hover {
  outline: none;
}

.lblue-button-access {
  background: linear-gradient(180deg, #5c98c9, var(--celesteO));
  color: #fff;
}

.green-button-access {
  background: linear-gradient(180deg, var(--verde), var(--verdeO));
  color: #fff;
}

/*? CSS para teclado  */

.keyboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 300px;
  margin: 0 auto;
}

.key {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007bff;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.keyboardLetter {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 10px;
  align-items: center;
  width: 800px;
  margin: 0 auto;
}

.keyLetter {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007bff;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.hidden {
    visibility: hidden;
  }

.key:hover {
  background-color: #0056b3;
}

.button-container{
    width: 800px;
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 0 auto;
    margin-top: 10px;
}

.key.delete {
    width: 120px;
  background-color: #dc3545;
}

.key.delete:hover {
  background-color: #a71d2a;
}

.key.space {
  /* grid-column: span 3; */
  width: 300px;
  background-color: #28a745;
}

.key.space:hover {
  background-color: #1c7430;
}

.key.capslock {
  width: 200px;
  background-color: #ffc107;
}

.key.capslock:hover {
  background-color: #d39e00;
}

@media print {
  button {
    display: none;
  }
}

.green-text{
  color: var(--verde);
}

.blue-text{
  color: var(--azul)
}

.turno-info{
  font-size: 30px;
  text-align: center;
  margin: 4rem 4rem;

  li{
    margin: 0.8rem 0
  }
}

.info{
  font-size: 24px;
  text-align: center;
}