@import "../form-turno/form-turno.component.css";

h1{
    font-size: 54px;
    color: var(--azul);
}
h2{
    font-size: 32px;
}
h3{
    text-align: center;
}

button{
    padding: 2rem;
    font-size: 28px;
}

input, select{
    max-width: 800px;
    padding: 1rem;

    border: solid 3px var(--gris);
    border-radius: 20px;

    text-align: center;
    font-size: 36px;
}

.terminal{
    background: linear-gradient(180deg, #ffffff, #ecf5ff);
    height: 720px;
}

.logo{
    background: var(--celeste);

    padding: 0.5rem;
    max-width: 200px;

    border: solid 4px #fff;
    border-radius: 100%;
}

.small-select{
    float: right;

    max-width: 400px;
    padding: 0.5rem;

    font-size: 28px;
}

.buttons{
    max-width: 500px;
    padding: 1rem;
    margin: auto;
    
}

option{
    padding: 1rem;

    text-align: center;
    margin: auto;
    font-size: 28px;
    font-weight: 600;
}

.paso{
    padding: 3rem 1rem;
}

.dni-input{
    max-width: 400px;
}

.section{
    padding: 1rem;
}

.card-container{
    background-color: #fff;
    max-height: 250px !important;
}

.small-button{
    padding: 20px;
    font-size: 20px;
}

.botonera{
    position:fixed;
    bottom: 2rem;
}

.touch-scrollbar {
    --sb-track-color: #fff;
    --sb-thumb-color: var(--celeste);
    --sb-size: 50px;
  }

  .scrollbar-small{
    --sb-size:30px
  }
  
  .touch-scrollbar::-webkit-scrollbar {
    width: var(--sb-size)
  }
  
  .touch-scrollbar::-webkit-scrollbar-track {
    background: var(--sb-track-color);
  }
  
  .touch-scrollbar::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 50px;
    border: 5px solid #fff;
  }
  
  @supports not selector(::-webkit-scrollbar) {
    .touch-scrollbar {
      scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
  }

.option-pill-access{
    background: linear-gradient(180deg, #dbe2e9, var(--gris));
}

.option-pill-access:hover{
    outline: none;
}

.lblue-button-access{
    background: linear-gradient(180deg, #5c98c9, var(--celesteO));
    color: #fff;
}

.green-button-access{
    background: linear-gradient(180deg, var(--verde), var(--verdeO));
    color: #fff;
}
