<app-nav></app-nav>
<div class="especialidades-page">

    <div class="especialidades-container">
        <button  routerLinkActive="active" ariaCurrentWhenActive="page" class="option-pill-access blue-button-access return-button" routerLink="/">< Volver</button>
        
        <div class="title flex-column">
            <h1>Seleccione una especialidad</h1>
            <span class="subtitle-mobile">Toque la especialidad del médico que desea que lo atienda.</span>
            <span class="subtitle-desktop">Haga click en la especialidad del médico que desea que lo atienda.</span>
        </div>

        <div class="especialidades">
            <button class="option-pill-access green-button especialidad-button"  (click)="ToMedicos(especialidad._id)" *ngFor="let especialidad of _especialidadService.especialidades" routerLink="/form-turno">
                {{ especialidad.nombreEsp }}
            </button>
        </div>
    </div>
</div>